 
 <%= form_with(model: photo, local: true) do |f| %>
       <div class="img-upload">
         <div class="click-upload">
            <%= f.label :title_image %>
            <%= f.file_field :title_image, id:"item-image" %>
            <div id="image-preview">
              <% if photo.title_image.attached? %>
                  <%= image_tag photo.title_image %>
              <% end %>
            </div>
         </div>
       </div>
        <%= f.text_area :info, placeholder: "info", rows: "10" %>  
      <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, value: @photo.title, class: "form-control" %>

         <%= f.label :price %>
         <%= f.text_field :price, value: @photo.price, class: "form-control" %>
    
         <%= f.label :photo, :tag_list %>
         <%= f.text_field :tag_list, value: @photo.tag_list.join(','), class: "form-control" %>
       </div>
       <div class="pull-right">

        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>

        <%= f.collection_select(:sales_status_id, SalesStatus.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>

         <%= f.collection_select(:shipping_fee_status_id, ShippingFeeStatus.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>

          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>

          
           <%= f.submit '登録する', class: "btn btn-info" %>
      </div>
  <% end %>