<!DOCTYPE html>
<html>
  <head>
    <title>PhotoBattle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
   <script type="text/javascript" src="js/bootstrap.js"></script>
  </head>

  <body>
        <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">PicTweet</a></h1>
        <div class="user_nav grid-6">
          <a class="post" href="/tweets/new">投稿する</a>
        </div>
      </div>
    </header>
    <%= yield %>
        <footer>
      <p>
        Copyright PhotosBattle 2021.
      </p>
    </footer>
  </body>
</html>
